<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" href="css/main.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Tarefas</title>
  </head>

  <body>
    <main class="container">
      <h1>Minha Lista</h1>
      <div class="center-content">
        Versão inicial da aplicação de lista de tarefas para a disciplina
        SPOLBP2
      </div>
      <div class="center-content">
        <a href="#" th:href="@{/tarefas}"> Todos os itens </a>
        <a href="#" th:href="@{/tarefas(filtro='concluidas')}"> Concluídos </a>
        <a href="#" th:href="@{/tarefas(filtro='pendentes')}"> Pendentes </a>
      </div>

      <form
        action="#"
        th:action="@{/tarefas}"
        th:object="${tarefaForm}"
        method="post"
      >
        <input
          type="text"
          th:field="*{texto}"
          placeholder="Adicione aqui sua nova tarefa"
        />
        <input type="submit" hidden />
      </form>

      <ul id="todo-list">
        <li th:each="tarefa: ${tarefas}" th:switch="${tarefa.concluida()}">
          <div th:case="${false}">
            <span th:text="${tarefa.texto}" />
            <a href="#" class="button" th:href="@{/tarefas/{id}/marcar-como-concluida(id=${tarefa.id})}">
              Concluir
            </a>
          </div>
          <div th:case="${true}">
            <span
              th:text="${tarefa.texto}"
              style="text-decoration: line-through"
            />
            <a href="#" class="button" th:href="@{/tarefas/{id}/marcar-como-nao-concluida(id=${tarefa.id})}">
              Desmarcar como concluída
            </a>
          </div>
        </li>
      </ul>
    </main>
  </body>
</html>
